<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pekohe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header class="headertop">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">DataHawk</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Sub Page</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Features
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Sub Page</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Customers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Sub Page</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" aria-disabled="true">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Resources
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Sub Page</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pro Services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Sub Page</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="right-menus">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Live Demo</a></li>
                        <li><a href="#" class="btn btn-signup">Free Sign Up</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="main-content-body">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-descriptions">
                        <h3>Articles, Guides,and News for eCommerce Professionals</h3>
                        <p>Explore insights, best advice,guides,researches,and how-tos, all in the name of helping you level-up eCommerce selling skills.</p>
                    </div>
                    <div class="form-subscribe">
                        <p>Get the latest eCommerce and Amazon insights and trends delivered straight to your inbox.</p>
                        <form class="form-inline">
                            <div class="form-group mb-2">
                                <input type="text" placeholder="Enter your work email" class="form-control-plaintext" id="email" value="">
                            </div>
                            <button type="button" id="subscribe" class="btn btn-primary mb-2">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>

        $(window).scroll(function(){
           if ($(this).scrollTop() > 50) {
              $('header').addClass('newClass');
           } else {
              $('header').removeClass('newClass');
           }
        });

        $("#subscribe").click(function() {
           var email= $("#email").val();
           if(!email){
               toastr.warning("Please enter the email");
               return;
           }
           var data = {email};
             $.ajax({
              url: '@Url.Action("Subscribe","Home")',
              type: "post",
              contentType: 'application/x-www-form-urlencoded',
              data: data,
              success: function (result) {
              toastr.options.timeOut = 2000;
              toastr.success(result.message);
              }
            });
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
